.progress {
    height: 3px;
}
.bg-success {
    background-color: #35d174 !important;
}

.play {
    color: #cecece;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    line-height: 2.5rem;
    border-radius: 2.5rem;
    font-size: .6rem;
    margin-right: 5%;
    border: 1px solid #cecece;
}

.player-cont {
    padding-top: 1rem;
}

.player-info .album-cover {
    width: 70px;
    height: 70px;
    margin-left: 1rem;
}

.player-info .album-cover, .player-info .album-info {
    float: left;
}

.player-info .album-info {
    margin-left: 20px;
    padding-top: .5rem;
}

.player-info .album-info span{
    display: block;
}

.player-info .album-info .album-title {
    color: #4f4f4f;
    font-family: 'ratonfont';
    font-size: 1rem;
    margin-bottom: 0;
}

.player-info .album-info .album-artist {
    color: #c9c8c8;
    font-family: 'ratonfont';
    font-size: .9rem;
}

.player-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.player-controls .play {
    display: inline-block;
    background: #33ba69;
    color: #ffffff;
    margin-right: 3.5%;
    margin-left: 3.5%;
    cursor: pointer;
}

.player-controls .repeat {
    display: inline-block;
    cursor: pointer;
    margin-top: 0.5rem;
}

.repeat_active {
    color: #33ba69;
}

.p-relative {
    position: relative;
}

.player-controls .previous {
    display: inline-block;
    margin-left: 3.5%;
    cursor: pointer;
    margin-top: 0.5rem;
}

.player-controls .next {
    display: inline-block;
    margin-right: 3.5%;
    cursor: pointer;
    margin-top: 0.5rem;
}

.player-controls .random {
    display: inline-block;
    cursor: pointer;
    margin-top: .15rem;
}

.player-container {
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
    width: 100%;
    margin-left: -15px;
}

.player-volume {
    justify-content: flex-end;
    align-content: center;
    padding-top: 1.5rem;
}

.progress-volume {
    padding-top: .6rem;
}

.volume-text {
    color: #4f4f4f;
    font-family: 'ratonfont';
    margin-left: -1rem;
}

.volume-time {
    color: #4f4f4f;
    font-family: 'ratonfont';
}