/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'ratonfont';
    src: url('/assets/font/CircularStd-Book.woff');
}

.mat-progress-bar-primary::after {
    background-color: #33ba69 !important;
}

.mat-progress-bar-buffer {
    background-color: rgb(235, 235, 235);
}