<div class="container player-super-container">
  <div class="row white-bg">
    <div class="col-sm-2 text-center pt-2 pb-2">
      <img src="assets/img/logo.png" class="logo-image">
    </div>
    <div class="col-sm-8 pt-2 pb-2">
      <div class="search">
          <i class="fas fa-search"></i>
          <form (submit)="searchSubmit()">
            <input 
              type="text"
              class="form-control"
              [(ngModel)]="search"
              [ngModelOptions]="{standalone: true}"
              (focus)="searchClick()"
              (focusout)="verifySearch()">
          </form>
      </div>
    </div>
    <div class="col-sm-1 alerts pt-2 pb-2">
      <span><i class="far fa-bell"></i></span>
    </div>
    <div class="col-sm-1 soundcloud pt-2 pb-2">
      <span>
          <i class="fab fa-soundcloud"></i>
      </span>
    </div>
  </div>

  <div class="row gray-bg">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6 album-square">
          <div class="row">
            <div class="col-lg-3 col-md-6 text-center offset-lg-1">
              <img src="assets/img/album.png" class="album-image">
            </div>
            <div class="col-sm-6 col-md-6 text-left album-info offset-lg-1">
              <h3 class="album-title">This is what you came for</h3>
              <h5 class="album-autor">By Rihana - 2016</h5>
              <h5 class="album-songs">20 Songs</h5>
              <button class="btn btn-primary album-play">
                  <i class="fas fa-play"></i> Play All</button>
            </div>
          </div>
          
        </div>
        <div class="col-sm-6 playlist-square">
          <div class="row">
            <div class="col-sm-12 no-padding-left">
              <h5 class="playlist-title">Playlist</h5>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-12 no-padding-left">
              <div class="playlist-song">
                <span class="playlist-number">01.</span>
                <span class="rounded-letter d-none d-lg-block">M</span>
                <div class="song-title">
                  <span class="title">Magenta Riddim</span>
                  <span class="artist">Dj Snake</span>
                </div>
                <span class="like">
                  <i class="far fa-heart"></i>
                </span>
                <span class="play">
                    <i class="fas fa-play"></i>
                </span>
              </div>

              <div class="playlist-song">
                <span class="playlist-number">02.</span>
                <span class="rounded-letter d-none d-lg-block">B</span>
                <div class="song-title">
                  <span class="title">Bum Bum Tum Tum</span>
                  <span class="artist">J Balvin</span>
                </div>
                <span class="like">
                  <i class="far fa-heart"></i>
                </span>
                <span class="play">
                    <i class="fas fa-play"></i>
                </span>
              </div>

              <div class="playlist-song">
                <span class="playlist-number">03.</span>
                <span class="rounded-letter d-none d-lg-block">G</span>
                <div class="song-title">
                  <span class="title">Girls like you</span>
                  <span class="artist">Maroon</span>
                </div>
                <span class="like">
                  <i class="far fa-heart"></i>
                </span>
                <span class="play">
                    <i class="fas fa-play"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row gray-bg p-relative">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-9 menu-songs">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Songs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Albums</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Artists</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3 text-right">
          <form novalidate class="ng-untouched ng-pristine ng-valid">
            <div class="form-group row">
              <div class="col-sm-12">
                <mat-form-field>
                  <mat-select [(value)]="genre_select">
                    <mat-option value="all">All Genres</mat-option>
                    <mat-option value="rock">Rock</mat-option>
                    <mat-option value="pop">Pop</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
        <div class="row songs-container">
          <div class="songs-card" *ngFor="let tt of top">
            <img class="song-cover" src="{{tt.artwork_url}}" (click)="playSong(tt)">
            <span class="song-title" (click)="playSong(tt.id)">{{parseTitle(tt.title)}}</span>
            <span class="song-artist" (click)="playSong(tt.id)">{{parseArtist(tt.title)}}</span>
          </div>          
        </div>
    </div>
  </div>

  <div class="col-sm-12 bg-white player-container">
    <div class="row">
      <div class="progress w-100">
        <mat-progress-bar matTooltip="Info about the action" mode="{{progressMode}}" value="{{currentProgress()}}"></mat-progress-bar>
      </div>
      <div class="col-sm-12">
        <div class="row player-cont">
          <div class="col-sm-4 text-left player-info">
            <img src="{{playerCover}}" class="album-cover">
            <p class="album-info">
              <span class="album-title">{{playerTitle}}</span>
              <span class="album-artist">{{playerArtist}}</span>
            </p>
          </div>
          <div class="col-sm-4 player-controls">
            
            <span class="repeat" (click)="repeatClick()">
              <mat-icon *ngIf="repeat_all">repeat</mat-icon>
              <mat-icon *ngIf="repeat_all_active" class="repeat_active">repeat</mat-icon>
              <mat-icon *ngIf="repeat_one_active" class="repeat_active">repeat_one</mat-icon>
            </span>
  
            <span class="previous">
              <mat-icon>skip_previous</mat-icon>
            </span>
            
            
            <span class="play" (click)="playToggle()">
              <i *ngIf="isPlaying == false" class="fas fa-play"></i>
              <i *ngIf="isPlaying" class="fas fa-pause"></i>
            </span>
            
            <span class="next">
              <mat-icon>skip_next</mat-icon>
            </span>
  
            <span class="random">
              <i class="fas fa-random"></i>
            </span>
          </div>
          <div class="col-sm-4">
            <div class="row player-volume">
              <div class="col-sm-1">
                <span>
                  <mat-icon>volume_up</mat-icon>
                </span>
              </div>
  
              <div class="col-sm-4 progress-volume">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
  
              <div class="col-sm-1">
                <span class="volume-text">15</span>
              </div>
  
              <div class="col-sm-4 text-right">
                <span class="volume-time">{{parseMilliseconds(player ? player.currentTime() : 0)}} / {{parseMilliseconds(player ? player.getDuration() : 0)}}</span>
              </div>
  
            </div>
  
          </div>
        </div>          
      </div>
    </div>
  </div>
</div>