html {
    font-family: 'ratonfont';
}

.white-bg {
    background: #ffffff;
}

.player-super-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #fafafa;
}

.search {
    position: relative;
}
.search i {
    position: absolute;
    left: 0;
    color: #cecece;
    font-size: 1.5rem;
    display: flex;
    height: 100%;
    align-items: center
}
.search input{
    font-family: 'ratonfont';
    border: none;
    padding-left: 3rem;
    font-size: 1.5rem;
    color: #cecece;
}
.search input:focus {
    box-shadow: none;
}
.alerts {
    border-left: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
}

.alerts span, .soundcloud span {
    display: flex;
    font-size: 1.5rem;
    color: #cecece;
    line-height: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.gray-bg {
    background: #fafafa;
}

.album-square {
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.logo-image {
    height: 50px;
}

.album-image {
    border-radius: 25px;
    width: 100%;
}
.no-padding-left {
    padding-left: 0;
    padding-right: 0;
}
.playlist-title {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2.5rem;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    color: #727272;
    font-size: 1rem;
}

.playlist-song:hover {
    background: #ffffff;
}

.playlist-song {
    display: flex;
    flex-direction: row;
    padding-left: 2.5rem;
    font-family: 'ratonfont';
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.playlist-number {
    flex: .10;
    color: #878787;
    font-weight: 500;
    font-family: 'ratonfont';
    font-size: 1rem;
    line-height: 2.8rem;
}

.rounded-letter {
    background: #7e7e7e;
    color: #ffffff;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    line-height: 2.5rem;
    border-radius: 2.5rem;
    font-size: 1rem;
    margin-right: 5%;
    font-weight: bold;
    font-family: 'ratonfont';
}
.song-title {
    flex: .70;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.song-title .title {
    font-size: 1rem;
    color: #000000;
}

.song-title .artist {
    font-size: .9rem;
    color: #848484;
}
.like {
    flex: .20;
    color: #bebebe;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.play {
    color: #cecece;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    line-height: 2.5rem;
    border-radius: 2.5rem;
    font-size: .6rem;
    margin-right: 5%;
    border: 1px solid #cecece;
}

.playlist-square {
    border-bottom: 1px solid #e8e8e8;
}

.playlist-song:hover .playlist-number,
.playlist-song:hover .song-title .title,
.playlist-song:hover .song-title .artist {
    color: #33ba69;
}

.playlist-song:hover .rounded-letter {
    background: #33ba69;
}

.playlist-song:hover .play {
    border: 1px solid #33ba69;
    background: #33ba69;
    color: #ffffff;
}

.album-info {
    padding-top: 1.5rem;
}

.album-info .album-title {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'ratonfont';
    text-transform: capitalize;
}

.album-info .album-autor {
    color: #8c8c8c;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: 'ratonfont';
}

.album-info .album-songs {
    color: #454545;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-family: 'ratonfont';
}

.album-info .album-play i{
    font-size: .7rem;
    margin-left: .3rem;
    margin-right: .6rem;
}

.album-info .album-play {
    background-color: #33ba69;
    border: none;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 25px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'ratonfont';
}

.album-info .album-play:focus {
    box-shadow: 0 0 0 0.2rem rgba(51,186,105,.5);
}

.menu-songs {
    padding-left: 1.5rem;
    padding-top: 1rem;
}
.songs-container {
    padding-left: .7rem;
    padding-top: 1rem;
}

.songs-card {
    margin: 1rem 1.1rem;
    text-align: center;
    max-width: 150px;
}

.songs-card:hover .song-cover{
    -webkit-box-shadow: 0px 16px 31px -19px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 16px 31px -19px rgba(0,0,0,0.85);
    box-shadow: 0px 16px 31px -19px rgba(0,0,0,0.85);
    cursor: pointer;
}

.songs-card:hover .song-title, .songs-card:hover .song-artist {
    cursor: pointer;
}

.songs-card .song-cover {
    width: 150px;
    height: 150px;
}

.songs-card .song-title {
    color: #000000;
    font-family: 'ratonfont';
    margin-top: 1rem;
    font-size: .8rem;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
}

.songs-card .song-artist {
    color: #33ba69;
    font-family: 'ratonfont';
    font-size: .7rem;
    margin-top: 0;
    padding-top: 0;
    line-height: .6rem;
    display: block;
    text-transform: capitalize;
}
.nav-link {
    color: #000000;
    font-family: 'ratonfont';
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9rem;
    border-radius: 0;
    padding: 6px 14px;
}
.nav-pills .nav-link.active {
    background: #fafafa;
    color: #000000;
    border-bottom: 1.5px solid #33ba69;
}

.rounded-genres {
    background: #ffffff;
    font-family: 'ratonfont';
    text-transform: capitalize;
    border: 1px solid #8c8c8c;
    color: #8c8c8c;
    border-radius: 15px;
    width: 13rem;
    margin-right: 1rem;
    margin-top: .5rem;
    padding: 6px 14px;
}

.rounded-genres option {
    background: #ffffff;
    font-family: 'ratonfont';
    color: #8c8c8c;
}

.progress {
    height: 3px;
}
.bg-success {
    background-color: #35d174 !important;
}

.play {
    color: #cecece;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    line-height: 2.5rem;
    border-radius: 2.5rem;
    font-size: .6rem;
    margin-right: 5%;
    border: 1px solid #cecece;
}

.player-cont {
    padding-top: 1rem;
}

.player-info .album-cover {
    width: 70px;
    height: 70px;
    margin-left: 1rem;
}

.player-info .album-cover, .player-info .album-info {
    float: left;
}

.player-info .album-info {
    margin-left: 20px;
    padding-top: .5rem;
}

.player-info .album-info span{
    display: block;
}

.player-info .album-info .album-title {
    color: #4f4f4f;
    font-family: 'ratonfont';
    font-size: 1rem;
    margin-bottom: 0;
}

.player-info .album-info .album-artist {
    color: #c9c8c8;
    font-family: 'ratonfont';
    font-size: .9rem;
}

.player-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.player-controls .play {
    display: inline-block;
    background: #33ba69;
    color: #ffffff;
    margin-right: 3.5%;
    margin-left: 3.5%;
    cursor: pointer;
}

.player-controls .repeat {
    display: inline-block;
    cursor: pointer;
    margin-top: 0.5rem;
}

.repeat_active {
    color: #33ba69;
}

.p-relative {
    position: relative;
}

.player-controls .previous {
    display: inline-block;
    margin-left: 3.5%;
    cursor: pointer;
    margin-top: 0.5rem;
}

.player-controls .next {
    display: inline-block;
    margin-right: 3.5%;
    cursor: pointer;
    margin-top: 0.5rem;
}

.player-controls .random {
    display: inline-block;
    cursor: pointer;
    margin-top: .15rem;
}

.player-container {
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
    width: 100%;
    margin-left: -15px;
}

.player-volume {
    justify-content: flex-end;
    align-content: center;
    padding-top: 1.5rem;
}

.progress-volume {
    padding-top: .6rem;
}

.volume-text {
    color: #4f4f4f;
    font-family: 'ratonfont';
    margin-left: -1rem;
}

.volume-time {
    color: #4f4f4f;
    font-family: 'ratonfont';
}

.progress {
    cursor: pointer;
}